$body-color: slateblue;

body {
  color: $body-color;
  font-family: sans-serif;
}

.questions {
  width: 800px;
  border: 1px solid black;
}

.question__title {
  min-width: 100px;
  min-height: 100px;
  background-color: rgba(70, 173, 39, 0.274);
}
