$body-color: slateblue;

body {
  color: $body-color;
  font-family: sans-serif;
}

.question__container {
  width: 800px;
  height: 200px;
  background-color: blue;
}

.question__title {
  width: 600px;
  height: 200px;
  background-color: red;
}
